<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>MVP</title>
    <meta name="description" content="The HTML5 Herald">
    <meta name="author" content="SitePoint">
    <!-- Vendor Scrolls -->
    <link rel="stylesheet" href="../vendor/bootstrap/dist/css/bootstrap.min.css" />
    <!-- My Scrolls -->
    <link rel="stylesheet" href="/css/mvp.css" />
    <!-- Vendor Spells -->
    <script src="../vendor/jquery/dist/jquery.js"></script>
    <script src="/vendor/bootstrap/dist/js/bootstrap.js"></script>
    <script src="/vendor/angular/angular.js"></script>
<!--     <script src="/vendor/angular-route/angular-route.js"></script>
    <script src="../vendor/ace-editor/src-noconflict/ace.js" type="text/javascript" charset="utf-8"></script>
 -->    <!-- My Spells -->
    <script src="/js/mvpController.js"></script>
    <!--    <script src="/js/pensieve-controllers.js"></script>
    <script src="/apps/actions/actions-controller.js"></script>
    <script src="/apps/reports/reports-controller.js"></script>
    <script src="/apps/rml/rml-controller.js"></script>
    <script src="/apps/time/time-controller.js"></script>
    <script src="/apps/writer/writer-controller.js"></script>
 -->
    <!--[if lt IE 9]>
  <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
</head>

<body ng-app="mvpApp">
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">MVP</a>
            </div>
            <div>
                <ul class="nav navbar-nav ">
                    <li><a href="#">one</a></li>
                </ul>
            </div>
            <div class="nav navbar-nav navbar-right">
                <form class="nav navbar-nav navbar-form" role="search">
                    <div class="form-group">
                        <input ng-model="query" type="text" class="form-control" placeholder="Search">
                    </div>
                </form>
                <ul class="nav navbar-nav">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-menu-hamburger" aria-hidden="true"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Action</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="#">Separated link</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container">
        <div class="row" ng-controller="MvpController">
            <div class="col-md-8">
                <div ng-repeat="note in notes track by $index">
                    <table class="table table-striped">
                        <tr>
                            <td>
                                <textarea id={{note._id}} ng-model="note.title" ng-blur="updateOnBlur($index)"  class="tarea" id="heading" rows="1"></textarea>
                            </td>
                            <td>
                                <textarea id={{note._id}} ng-repeat="tag in note.tags" class="tarea label label-default" id="tags" rows="1" cols="10" ng-bind="tag"></textarea>
                            </td>
                        </tr>
                    </table>
                    <p>


                    <!-- So setting the ng-model = note.body seems to work, so log as we get the upateon blur also set to the $index
                    so this seems to work for the note-body. -->
                        <textarea id={{note._id}} ng-model="note.body" ng-blur="updateOnBlur($index)" class="tarea" rows="1" cols="100"></textarea>
                    </p>
                </div>
            </div>
            <div class="col-md-4">
                <h4>This is a form</h4>
                <form class="form-horizontal" action="/note" method="POST">
                    <textarea class="form-control" type="title" placeholder="title" name="title"></textarea>
                    <textarea class="form-control" name="tags" placeholder="tags" name="tags"></textarea>
                    <textarea class="form-control" name="body" placeholder="body" name="body"></textarea>
                    <button class="btn bnt-default" type="submit">Submit</button>
                </form>
            </div>
        </div>
        <!-- end row -->
    </div>
    <!-- end container -->
</body>

</html>
